[submodule "sshtunnel"]
	path = sshtunnel
	url = git@github.com:conda-forge/sshtunnel-feedstock.git
[submodule "metis"]
	path = metis
	url = git@github.com:conda-forge/metis-feedstock.git
[submodule "hpc05"]
	path = hpc05
	url = git@github.com:conda-forge/hpc05-feedstock.git
[submodule "scotch"]
	path = scotch
	url = git@github.com:conda-forge/scotch-feedstock.git
[submodule "mumps"]
	path = mumps
	url = git@github.com:conda-forge/mumps-feedstock.git
